
.App {
  height: 100vh;
  min-height: 100%;
  font-family: Sora, Outfit;
  text-align: center;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  z-index: 0;
}

body{
  min-height: fit-content;
}

.ontop {
  position: relative;
  width: 100%;
  height: 500%;
  
  z-index: 1; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  background-color: rgba(10, 4, 25, 0.403); 
  pointer-events: none;
}

